/* Code tidied up by ScrapBook */
@font-face {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  src: url("") format("embedded-opentype"), url("") format("truetype"), url("") format("woff"), url("") format("svg");
}
[class^="icon-"], [class*=" icon-"] { font-family: "icomoon" ! important; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; }
.icon-menu::before { content: ""; }
.icon-comment::before { content: ""; }
.icon-view::before { content: ""; }
.icon-close::before { content: ""; }
.icon-search::before { content: ""; }
.icon-arrow-top::before { content: ""; }
